#aboutUs {
    margin: 0px auto;
    max-width: 500px;
    box-shadow: 2px 2px 10px 5px #bbbbbb;
}
#backBt {
    transition: 0.5s;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    box-shadow: 1px 1px 5px 2px #bbbbbb;
    border-radius: 5px;
    background: dodgerblue;
    color: white;
}
#backBt:hover {
    box-shadow: 2px 2px 7px 4px #bbbbbb;
    background: #1b7ede;
}
#aboutText {
    margin: 30px;
}